.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #858480d5,
    #070808
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #858480d5,
    #070808
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.category-tabs {
  background: linear-gradient(to top, #858480d5, #353636);
}

.landing-grid {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #858480d5,
    #080808
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #63636ed5,
    #353636
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatar-img {
  height: 275px;
  padding-top: 6rem;
}

.banner-text {
  background-color: #161616;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 6px dashed gainsboro;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 1rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 5rem;
  color: grey;
  padding: 10px;
}

.about-text {
  background-color: #000428;
  opacity: 0.8;
  width: 99%;
}
.about-text h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 3rem;
  color: white;
  font-weight: bold;
}

.about-text p {
  color: white;
  font-size: 24px;
  text-align: left;
  padding: 30px;
}

.apps h1 {
  font-size: 20px;
  font-weight: bolder;
  align-items: baseline;
  color: black;

  max-width: none;
}

.contact-link {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.contact-link i {
  font-size: 5rem;
  color: white;
  padding: 10px;
}

.contact-link button {
  background: linear-gradient(to top, #004e92, #000428);
}
.contact-link a {
  font-size: 30px;
  color: white;
}

.item-contacts i {
  color: white;
  padding: 1rem;
}
.item-contacts {
  padding-top: 8rem;
}

.headline-text {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-top: 3rem;
  font-family: Copperplate;
}

.headline-text h1 {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.headline-text p {
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 1rem;
}

.avatar-two {
  height: 250px;
}
.bottom-text {
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-top: 10px;
  font-family: Copperplate;
  color: white;
}
.bottom-text p {
  font-size: 20px;
}

.apps {
  background: linear-gradient(to bottom, #353636, #d7dde8);
}
.app-tabs {
  background: linear-gradient(to bottom, #353636, #d7dde8);
}
.alec-tabs {
  background: linear-gradient(to bottom, #353636, #d7dde8);
}
.alec-tabs img {
  height: 610px;
  width: 520px;
  border-radius: 50%;
  border: 10px solid #555;
  border-top: 14px dashed #333;
}
.alec-tabs p {
  color: black;

  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 30px;
  padding-top: 2rem;
  font-size: 28px;
  text-align: justify;
  line-height: 1.18;
  font-family: optima;
  font-weight: normal;
}

.resume-photo {
  height: 1150px;
  width: 1100px;
}
